VITE_SUPABASE_URL="https://qaigkeawaqcoafaquyni.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_VAp_H7uMDv99KEso_dCpRQ__gavmEGp"
VITE_SUPABASE_SERVICE_ROLE_KEY="your_service_role_key_here"
